{#
/**
 * @file
 * Text with featured media.
 */
#}

{% set classes = [
    'ecl-col-md-6',
    'ecl-u-mb-m',
    'ecl-u-mb-md-none',
    alignment == 'right' ? 'ecl-u-order-md-last'
] %}
{% if image or video or text %}
    <div class="ecl-row">
        {% if image or video %}
            <div {{ attributes.addClass(classes) }}>
                {% if image %}
                    {% include '@ecl-twig/media-container' with {
                        'image': image.src,
                        'alt': image.alt,
                        'description': caption,
                    } %}
                {% elseif video %}
                    {% include '@ecl-twig/media-container' with {
                        'embedded_media': video,
                        'ration': '16-9',
                        'description': caption,
                    } %}
                {% endif %}
            </div>
        {% endif %}
        {% if text or title %}
            <div class="{{ image or video ? ' ecl-col-md-6' : 'ecl-col-12' }} ecl-editor">
                <h2 class="ecl-u-type-heading-2 ecl-u-mv-none ecl-u-type-color-blue">{{ title }}</h2>
                {{ text }}
                {% if cta.uri %}
                    {% include '@ecl-twig/link' with {
                        'link': {
                            'type': 'cta',
                            'label': cta.title,
                            'path': cta.uri,
                            'icon_position': 'after'
                        },
                        'icon': {
                            'path': ecl_icon_path,
                            'type': 'ui',
                            'name': 'corner-arrow',
                            'extra_classes': 'ecl-link__icon ecl-icon ecl-icon--fluid ecl-icon--rotate-90'
                        },
                        'extra_classes': 'ecl-u-type-bold ecl-u-mt-m ecl-u-mt-md-l'
                    } only %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}
